<% include ./partials/header %>
    <div class="container pt-3 mt-3">
        <div class="jumbotron  mt-4">
            <form action="/index/<%=blog._id%>?_method=PUT" method="POST">
                <small>Seleccione su PNF</small>
                <br>

                <% if (blog.pnf == "PNF en Electricidad") { %>
                    <div class="form-check form-check-inline" style="padding-bottom: 20px">
                        <input class="form-check-input" type="radio" name="blog[pnf]" value="PNF en Electricidad" onChange="mostrarlineainv(this.value);" checked>
                        <label class="form-check-label" for="PNF en Electricidad">PNF en Electricidad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="blog[pnf]" value="PNF en Electronica" onChange="mostrarlineainv(this.value);">
                        <label class="form-check-label" for="PNF en Electronica">PNF en Electronica</label </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="blog[pnf]" value="PNF en Instrumentacion y Control" onChange="mostrarlineainv(this.value);">
                            <label class="form-check-label" for="PNF en Instrumentacion y Control">PNF en Instrumentacion y Control</label>
                        </div>
                        <% } else if (blog.pnf == "PNF en Electronica") { %>
                            <div class="form-check form-check-inline" style="padding-bottom: 20px">
                                <input class="form-check-input" type="radio" name="blog[pnf]" value="PNF en Electricidad" onChange="mostrarlineainv(this.value);">
                                <label class="form-check-label" for="PNF en Electricidad">PNF en Electricidad</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="blog[pnf]" value="PNF en Electronica" onChange="mostrarlineainv(this.value);" checked>
                                <label class="form-check-label" for="PNF en Electronica">PNF en Electronica</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="blog[pnf]" value="PNF en Instrumentacion y Control" onChange="mostrarlineainv(this.value);">
                                <label class="form-check-label" for="PNF en Instrumentacion y Control">PNF en Instrumentacion y Control</label>
                            </div>
                            <% } else { %>
                                <div class="form-check form-check-inline" style="padding-bottom: 20px">
                                    <input class="form-check-input" type="radio" name="blog[pnf]" value="PNF en Electricidad" onChange="mostrarlineainv(this.value);">
                                    <label class="form-check-label" for="PNF en Electricidad">PNF en Electricidad</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="blog[pnf]" value="PNF en Electronica" onChange="mostrarlineainv(this.value);">
                                    <label class="form-check-label" for="PNF en Electronica">PNF en Electronica</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="blog[pnf]" value="PNF en Instrumentacion y Control" checked>
                                    <label class="form-check-label" for="PNF en Instrumentacion y Control">PNF en Instrumentacion y Control</label>
                                </div>
                                <% } %>

                                    <div class="form-group">
                                        <label for="nombreproy">Nombre del Proyecto</label>
                                        <input name="blog[nombreProyecto]" type="text" class="form-control form-control-lg" value="<%=blog.nombreProyecto%>" required>
                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col">
                                            <label for="Comunidad">Comunidad</label>
                                            <input name="blog[nombreComunidad]" type="text" class="form-control" value="<%=blog.nombreComunidad%>" required>
                                        </div>
                                        <div class="col">
                                            <label for="Municipio">Municipio</label>
                                            <input name="blog[Municipio]" type="text" class="form-control" value="<%=blog.Municipio%>" required>
                                        </div>

                                    </div>
                                    <div class="form-row mb-3">
                                        <div class="col-md-6 mb-3">
                                            <label for="profguia">Profesor Guia</label>
                                            <input name="blog[profGuia]" type="text" class="form-control" value="<%=blog.profGuia%>" required>
                                        </div>
                                        <div class="col-md-6 ">
                                            <label for="proftut">Profesor Tutor</label>
                                            <input name="blog[profTutor]" type="text" class="form-control" value="<%=blog.profTutor%>" placeholder="Profesor Tutor" required>
                                        </div>

                                        <div class="col-md-2">
                                            <label>Status del Proyecto</label>
                                            <select name="blog[statusProyecto]" class="custom-select" id="statusProyecto">
                                                <option value="<%=blog.statusProyecto%>">
                                                    <%=blog.statusProyecto%>
                                                </option>
                                                <option value="Culminado">CULMINADO</option>
                                                <option value="No culminado">NO CULMINADO</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="blog[Trayecto]">Trayecto</label>
                                            <select name="blog[Trayecto]" class="custom-select" required>
                                                <option value="<%=blog.Trayecto%>">
                                                    <%=blog.Trayecto%>
                                                </option>
                                                <option value="T1">T1</option>
                                                <option value="T2">T2</option>
                                                <option value="T3">T3</option>
                                                <option value="T4">T4</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="blog[Seccion]">Seccion</label>
                                            <input name="blog[Seccion]" type="text" class="form-control" value="<%=blog.Seccion%>" placeholder="" required>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="blog[lapsoAcademico]">Lapso Academico</label>
                                            <input name="blog[lapsoAcademico]" type="text" class="form-control" value="<%=blog.lapsoAcademico%>" placeholder="" required>
                                        </div>

                                        <div class="col-md-4">

                                            <% if (blog.pnf == "PNF en Electricidad") { %>
                                                <label for="lineaInv">Linea de Investigacion</label>

                                                <select id="lineaInvIyC" style="display: none;" name="blog[lineaInv]" class="custom-select" disabled>
                                                    <option value="<%=blog.lineaInv%>">
                                                        <%=blog.lineaInv%>
                                                    </option>
                                                    <option value="-">-</option>
                                                    <option value="LineaInvestigacionInstrYCntrl">LineaInvestigacionInstrYCntrl</option>
                                                </select>

                                                <select id="lineaInvElectricidad" name="blog[lineaInv]" class="custom-select">
                                                    <option value="<%=blog.lineaInv%>">
                                                        <%=blog.lineaInv%>
                                                    </option>
                                                    <option value="-">-</option>
                                                    <option value="GESTIÓN DE ENERGÍA ELÉCTRICA">GESTIÓN DE ENERGÍA ELÉCTRICA</option>
                                                    <option value="EFICIENCIA ENERGÉTICA">EFICIENCIA ENERGÉTICA</option>
                                                    <option value="ENERGIAS ALTERNATIVAS">ENERGIAS ALTERNATIVAS</option>
                                                    <option value="SISTEMAS ELÉCTRICOS DE POTENCIA">SISTEMAS ELÉCTRICOS DE POTENCIA</option>
                                                    <option value="AUTOMATIZACIÓN Y CONTROL">AUTOMATIZACIÓN Y CONTROL</option>
                                                </select>

                                                <select id="lineaInvElectronica" style="display: none;" name="blog[lineaInv]" class="custom-select" disabled>
                                                    <option value="<%=blog.lineaInv%>">
                                                        <%=blog.lineaInv%>
                                                    </option>
                                                    <option value="-">-</option>
                                                    <option value="LineaInvestigacionElectronica">LineaInvestigacionElectronica</option>
                                                </select>
                                        </div>
                                    </div>

                                    <% } else if (blog.pnf == "PNF en Electronica") { %>
                                        <label for="lineaInv">Linea de Investigacion</label>

                                        <select id="lineaInvIyC" style="display: none;" name="blog[lineaInv]" class="custom-select" disabled>
                                            <option value="<%=blog.lineaInv%>">
                                                <%=blog.lineaInv%>
                                            </option>
                                            <option value="-">-</option>
                                            <option value="LineaInvestigacionInstrYCntrl">LineaInvestigacionInstrYCntrl</option>
                                        </select>

                                        <select id="lineaInvElectricidad" style="display: none;" name="blog[lineaInv]" class="custom-select" disabled>
                                            <option value="<%=blog.lineaInv%>">
                                                <%=blog.lineaInv%>
                                            </option>
                                            <option value="-">-</option>
                                            <option value="GESTIÓN DE ENERGÍA ELÉCTRICA">GESTIÓN DE ENERGÍA ELÉCTRICA</option>
                                            <option value="EFICIENCIA ENERGÉTICA">EFICIENCIA ENERGÉTICA</option>
                                            <option value="ENERGIAS ALTERNATIVAS">ENERGIAS ALTERNATIVAS</option>
                                            <option value="SISTEMAS ELÉCTRICOS DE POTENCIA">SISTEMAS ELÉCTRICOS DE POTENCIA</option>
                                            <option value="AUTOMATIZACIÓN Y CONTROL">AUTOMATIZACIÓN Y CONTROL</option>
                                        </select>

                                        <select id="lineaInvElectronica" name="blog[lineaInv]" class="custom-select">
                                            <option value="<%=blog.lineaInv%>">
                                                <%=blog.lineaInv%>
                                            </option>
                                            <option value="-">-</option>
                                            <option value="LineaInvestigacionElectronica">LineaInvestigacionElectronica</option>
                                        </select>
                    </div>
        </div>
        <% } else { %>
            <label for="lineaInv">Linea de Investigacion</label>
            <select id="lineaInvIyC" name="blog[lineaInv]" class="custom-select">
                <option value="<%=blog.lineaInv%>">
                    <%=blog.lineaInv%>
                </option>
                <option value="-">-</option>
                <option value="LineaInvestigacionInstrYCntrl">LineaInvestigacionInstrYCntrl</option>
            </select>

            <select id="lineaInvElectricidad" style="display: none;" name="blog[lineaInv]" class="custom-select" disabled>
                <option value="<%=blog.lineaInv%>">
                    <%=blog.lineaInv%>
                </option>
                <option value="-">-</option>
                <option value="GESTIÓN DE ENERGÍA ELÉCTRICA">GESTIÓN DE ENERGÍA ELÉCTRICA</option>
                <option value="EFICIENCIA ENERGÉTICA">EFICIENCIA ENERGÉTICA</option>
                <option value="ENERGIAS ALTERNATIVAS">ENERGIAS ALTERNATIVAS</option>
                <option value="SISTEMAS ELÉCTRICOS DE POTENCIA">SISTEMAS ELÉCTRICOS DE POTENCIA</option>
                <option value="AUTOMATIZACIÓN Y CONTROL">AUTOMATIZACIÓN Y CONTROL</option>
            </select>

            <select id="lineaInvElectronica" style="display: none;" name="blog[lineaInv]" class="custom-select" disabled>
                <option value="<%=blog.lineaInv%>">
                    <%=blog.lineaInv%>
                </option>
                <option value="-">-</option>
                <option value="LineaInvestigacionElectronica">LineaInvestigacionElectronica</option>
            </select>
    </div>
    </div>
    <% } %>

        <label for="blog[cantIntegrantes]">Cantidad de Integrantes en el proyecto</label>
        <div class="form-row">
            <div class="col-md-2">
                <select id="integrantes" name="blog[cantIntegrantes]" class="custom-select" value="<%=blog.cantIntegrantes%>" onChange="mostrar(this.value);" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div id="estud1" class="form-row">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud1" name="blog[nombreEstudiante1]" type="text" value="<%=blog.nombreEstudiante1%>" class="form-control" required>
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud1" name="blog[notaEstudiante1]" class="custom-select" id="nota">
                    <option value="<%=blog.notaEstudiante1%>">
                        <%=blog.notaEstudiante1%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>

        <div id="estud2" class="form-row" style="display: none;">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud2" name="blog[nombreEstudiante2]" value="<%=blog.nombreEstudiante2%>" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud2" name="blog[notaEstudiante2]" class="custom-select" id="nota">
                    <option value="<%=blog.notaEstudiante2%>">
                        <%=blog.notaEstudiante2%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
        <div id="estud3" class="form-row" style="display: none;">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud3" name="blog[nombreEstudiante3]" value="<%=blog.nombreEstudiante3%>" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud3" name="blog[notaEstudiante3]" class="custom-select" id="nota">
                    <option value="<%=blog.notaEstudiante3%>">
                        <%=blog.notaEstudiante3%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
        <div id="estud4" class="form-row" style="display: none;">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud4" name="blog[nombreEstudiante4]" value="<%=blog.nombreEstudiante4%>" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud4" name="blog[notaEstudiante4]" class="custom-select" id="nota">
                    <option value="<%=blog.notaEstudiante4%>">
                        <%=blog.notaEstudiante4%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>

        <div id="estud5" class="form-row" style="display: none;">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud5" name="blog[nombreEstudiante5]" value="<%=blog.nombreEstudiante5%>" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud5" name="blog[notaEstudiante5]" class="custom-select" id="nota">
                    <option value="<%=blog.notaEstudiante5%>">
                        <%=blog.notaEstudiante5%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>

        <div class="form-group mt-2">
            <small>Ingrese un resumen del proyecto</small>
            <textarea name="blog[resumenProyecto]" class="form-control" rows="3" placeholder="Resumen del proyecto" required>
                <%=blog.resumenProyecto%>
            </textarea>
        </div>

        <div style="float: right;">
            <button type="submit" class="btn btn-warning">Completado</button>
        </div>
        </form>
        </div>
        </div>
        <% include ./partials/footer %>