<% include ./partials/header %>  <!-- PARA INCLUIR EL HEADER, DEBAJO HAY OTRO PARA INCLUIR FOOTER TAMBIEN --> 

    <div class="container pt-3 mt-3">
        <div class="jumbotron  mt-4">
            <form action="/index/<%=proy._id%>?_method=PUT" method="POST">
                <small>Seleccione su PNF</small>
                <br>

 <!-- CONDICIONALES PARA LOS VALORES PREDETERMINADOS, PARA LA LINEA DE INVESTIGACION SE UTILIZA UNO PARECIDO --> 

                <% if (proy.pnf == "PNF en Electricidad") { %>
                    <div class="form-check form-check-inline" style="padding-bottom: 20px">
                        <input class="form-check-input" type="radio" name="proy[pnf]" value="PNF en Electricidad" onChange="mostrarlineainv(this.value);" checked>
                        <label class="form-check-label" for="PNF en Electricidad">PNF en Electricidad</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="proy[pnf]" value="PNF en Electronica" onChange="mostrarlineainv(this.value);">
                        <label class="form-check-label" for="PNF en Electronica">PNF en Electronica</label </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="proy[pnf]" value="PNF en Instrumentacion y Control" onChange="mostrarlineainv(this.value);">
                            <label class="form-check-label" for="PNF en Instrumentacion y Control">PNF en Instrumentacion y Control</label>
                        </div>
                        <% } else if (proy.pnf == "PNF en Electronica") { %>
                            <div class="form-check form-check-inline" style="padding-bottom: 20px">
                                <input class="form-check-input" type="radio" name="proy[pnf]" value="PNF en Electricidad" onChange="mostrarlineainv(this.value);">
                                <label class="form-check-label" for="PNF en Electricidad">PNF en Electricidad</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="proy[pnf]" value="PNF en Electronica" onChange="mostrarlineainv(this.value);" checked>
                                <label class="form-check-label" for="PNF en Electronica">PNF en Electronica</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="proy[pnf]" value="PNF en Instrumentacion y Control" onChange="mostrarlineainv(this.value);">
                                <label class="form-check-label" for="PNF en Instrumentacion y Control">PNF en Instrumentacion y Control</label>
                            </div>
                            <% } else { %>
                                <div class="form-check form-check-inline" style="padding-bottom: 20px">
                                    <input class="form-check-input" type="radio" name="proy[pnf]" value="PNF en Electricidad" onChange="mostrarlineainv(this.value);">
                                    <label class="form-check-label" for="PNF en Electricidad">PNF en Electricidad</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="proy[pnf]" value="PNF en Electronica" onChange="mostrarlineainv(this.value);">
                                    <label class="form-check-label" for="PNF en Electronica">PNF en Electronica</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="proy[pnf]" value="PNF en Instrumentacion y Control" checked>
                                    <label class="form-check-label" for="PNF en Instrumentacion y Control">PNF en Instrumentacion y Control</label>
                                </div>
                                <% } %>

                                    <div class="form-group">
                                        <label for="nombreproy">Nombre del Proyecto</label>
                                        <input name="proy[tituloProyecto]" type="text" class="form-control form-control-lg" value="<%=proy.tituloProyecto%>" required>
                                    </div>

                 <!-- ALGORITMO PARA ELIMINAR REPETIDOS Y RECORDAR DATOS DE LA DB, SE UTILIZA EN CADA INPUT QUE SE NECESITE RECORDAR, HACE FALTA OPTIMIZAR ESTO, AUNQUE ASI FUNCIONA -->                        
                                   <%var arrayauxiliar=[];%>
            <%proys.forEach(function(proy){ %>
            <%    arrayauxiliar.push(proy.comunidad);%>
            <% }); %>
            <%let arrayfinalcomunidad =[...new Set(arrayauxiliar)]%>
            <div class="form-row mb-3">
                <div class="col">
                   <label for="proy[comunidad]">Comunidad:</label>
                    <input list="comunidades" class="form-control" value="<%=proy.comunidad%>" name="proy[comunidad]" required>
                    <datalist id="comunidades">
                        <% arrayfinalcomunidad.forEach(function(proy){ %>
                        <option value="<%=proy%>">
                        <% }) %>
                    </datalist>
                </div>
                                        <%var arrayauxiliar=[];%>
            <%proys.forEach(function(proy){ %>
            <%    arrayauxiliar.push(proy.municipio);%>
            <% }); %>
            <%let arrayfinalmunicipio =[...new Set(arrayauxiliar)]%>
                <div class="col">
                    <label for="proy[municipio]">Municipio:</label>
                    <input list="municipios" class="form-control" value="<%=proy.municipio%>"  name="proy[municipio]" required>
                    <datalist id="municipios">
                        <% arrayfinalmunicipio.forEach(function(proy){ %>
                        <option value="<%=proy%>">
                        <% }) %>
                    </datalist>
                </div>
            </div>

                                    <%var arrayauxiliar=[];%>
            <%proys.forEach(function(proy){ %>
            <%    arrayauxiliar.push(proy.profGuia);%>
            <% }); %>
            <%let arrayfinalguia =[...new Set(arrayauxiliar)]%>
            <div class="form-row mb-3">
                <div class="col-md-6 mb-3">
                    <label for="proy[profGuia]">Profesor Guia:</label>
                    <input list="guias" class="form-control" value="<%=proy.profGuia%>" name="proy[profGuia]" required>
                    <datalist id="guias">
                        <% arrayfinalguia.forEach(function(proy){ %>
                        <option value="<%=proy%>">
                        <% }) %>
                    </datalist>
                </div>
                <%var arrayauxiliar=[];%>
            <%proys.forEach(function(proy){ %>
            <%    arrayauxiliar.push(proy.profTutor);%>
            <% }); %>
            <%let arrayfinaltutor =[...new Set(arrayauxiliar)]%>    
                <div class="col-md-6 ">
                    <label for="proy[profTutor]">Tutor:</label>
                    <input list="tutores" class="form-control" value="<%=proy.profTutor%>" name="proy[profTutor]" required>
                    <datalist id="tutores">
                        <% arrayfinaltutor.forEach(function(proy){ %>
                        <option value="<%=proy%>">
                        <% }) %>
                    </datalist>
                </div>

                                        <div class="col-md-2">
                                            <label>Status del Proyecto</label>
                                            <select name="proy[statusProyecto]" class="custom-select" id="statusProyecto">
                                                <option value="<%=proy.statusProyecto%>">
                                                    <%=proy.statusProyecto%>
                                                </option>
                                                <option value="Culminado">CULMINADO</option>
                                                <option value="No culminado">NO CULMINADO</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="proy[trayecto]">Trayecto</label>
                                            <select name="proy[trayecto]" class="custom-select" required>
                                                <option value="<%=proy.trayecto%>">
                                                    <%=proy.trayecto%>
                                                </option>
                                                <option value="T1">T1</option>
                                                <option value="T2">T2</option>
                                                <option value="T3">T3</option>
                                                <option value="T4">T4</option>
                                            </select>
                                        </div>
                                        
                                        
                                        
                                         <%var arrayauxiliar=[];%>
            <%proys.forEach(function(proy){ %>
            <%    arrayauxiliar.push(proy.seccion);%>
            <% }); %>
            <%let arrayfinalseccion =[...new Set(arrayauxiliar)]%>  
                <div class="col-md-2">
                    <label for="proy[seccion]">Seccion:</label>
                    <input list="secciones" class="form-control" value="<%=proy.seccion%>" name="proy[seccion]" required>
                    <datalist id="secciones">
                        <% arrayfinalseccion.forEach(function(proy){ %>
                        <option value="<%=proy%>">
                        <% }) %>
                    </datalist>
                </div>
                                        <%var arrayauxiliar=[];%>
            <%proys.forEach(function(proy){ %>
            <%    arrayauxiliar.push(proy.lapsoAcademico);%>
            <% }); %>
            <%let arrayfinallapsoAcademico =[...new Set(arrayauxiliar)]%>  
                <div class="col-md-2">
                    <label for="proy[lapsoAcademico]">Lapso Academico:</label>
                    <input list="lapsosacademicos" class="form-control" value="<%=proy.lapsoAcademico%>" name="proy[lapsoAcademico]" required>
                    <datalist id="lapsosacademicos">
                        <% arrayfinallapsoAcademico.forEach(function(proy){ %>
                        <option value="<%=proy%>">
                        <% }) %>
                    </datalist>
                </div>

                                        <div class="col-md-4">

                                            <% if (proy.pnf == "PNF en Electricidad") { %>
                                                <label for="lineaInv">Linea de Investigacion</label>

                                                <select id="lineaInvIyC" style="display: none;" name="proy[lineaInv]" class="custom-select" disabled>
                                                    <option value="<%=proy.lineaInv%>">
                                                        <%=proy.lineaInv%>
                                                    </option>
                                                    <option value="-">-</option>
                                                    <option value="LineaInvestigacionInstrYCntrl">LineaInvestigacionInstrYCntrl</option>
                                                </select>

                                                <select id="lineaInvElectricidad" name="proy[lineaInv]" class="custom-select">
                                                    <option value="<%=proy.lineaInv%>">
                                                        <%=proy.lineaInv%>
                                                    </option>
                                                    <option value="-">-</option>
                                                    <option value="GESTIÓN DE ENERGÍA ELÉCTRICA">GESTIÓN DE ENERGÍA ELÉCTRICA</option>
                                                    <option value="EFICIENCIA ENERGÉTICA">EFICIENCIA ENERGÉTICA</option>
                                                    <option value="ENERGIAS ALTERNATIVAS">ENERGIAS ALTERNATIVAS</option>
                                                    <option value="SISTEMAS ELÉCTRICOS DE POTENCIA">SISTEMAS ELÉCTRICOS DE POTENCIA</option>
                                                    <option value="AUTOMATIZACIÓN Y CONTROL">AUTOMATIZACIÓN Y CONTROL</option>
                                                </select>

                                                <select id="lineaInvElectronica" style="display: none;" name="proy[lineaInv]" class="custom-select" disabled>
                                                    <option value="<%=proy.lineaInv%>">
                                                        <%=proy.lineaInv%>
                                                    </option>
                                                    <option value="-">-</option>
                                                    <option value="LineaInvestigacionElectronica">LineaInvestigacionElectronica</option>
                                                </select>
                                        </div>
                                    </div>

                                    <% } else if (proy.pnf == "PNF en Electronica") { %>
                                        <label for="lineaInv">Linea de Investigacion</label>

                                        <select id="lineaInvIyC" style="display: none;" name="proy[lineaInv]" class="custom-select" disabled>
                                            <option value="<%=proy.lineaInv%>">
                                                <%=proy.lineaInv%>
                                            </option>
                                            <option value="-">-</option>
                                            <option value="LineaInvestigacionInstrYCntrl">LineaInvestigacionInstrYCntrl</option>
                                        </select>

                                        <select id="lineaInvElectricidad" style="display: none;" name="proy[lineaInv]" class="custom-select" disabled>
                                            <option value="<%=proy.lineaInv%>">
                                                <%=proy.lineaInv%>
                                            </option>
                                            <option value="-">-</option>
                                            <option value="GESTIÓN DE ENERGÍA ELÉCTRICA">GESTIÓN DE ENERGÍA ELÉCTRICA</option>
                                            <option value="EFICIENCIA ENERGÉTICA">EFICIENCIA ENERGÉTICA</option>
                                            <option value="ENERGIAS ALTERNATIVAS">ENERGIAS ALTERNATIVAS</option>
                                            <option value="SISTEMAS ELÉCTRICOS DE POTENCIA">SISTEMAS ELÉCTRICOS DE POTENCIA</option>
                                            <option value="AUTOMATIZACIÓN Y CONTROL">AUTOMATIZACIÓN Y CONTROL</option>
                                        </select>

                                        <select id="lineaInvElectronica" name="proy[lineaInv]" class="custom-select">
                                            <option value="<%=proy.lineaInv%>">
                                                <%=proy.lineaInv%>
                                            </option>
                                            <option value="-">-</option>
                                            <option value="LineaInvestigacionElectronica">LineaInvestigacionElectronica</option>
                                        </select>
                    </div>
        </div>
        <% } else { %>
            <label for="lineaInv">Linea de Investigacion</label>
            <select id="lineaInvIyC" name="proy[lineaInv]" class="custom-select">
                <option value="<%=proy.lineaInv%>">
                    <%=proy.lineaInv%>
                </option>
                <option value="-">-</option>
                <option value="LineaInvestigacionInstrYCntrl">LineaInvestigacionInstrYCntrl</option>
            </select>

            <select id="lineaInvElectricidad" style="display: none;" name="proy[lineaInv]" class="custom-select" disabled>
                <option value="<%=proy.lineaInv%>">
                    <%=proy.lineaInv%>
                </option>
                <option value="-">-</option>
                <option value="GESTIÓN DE ENERGÍA ELÉCTRICA">GESTIÓN DE ENERGÍA ELÉCTRICA</option>
                <option value="EFICIENCIA ENERGÉTICA">EFICIENCIA ENERGÉTICA</option>
                <option value="ENERGIAS ALTERNATIVAS">ENERGIAS ALTERNATIVAS</option>
                <option value="SISTEMAS ELÉCTRICOS DE POTENCIA">SISTEMAS ELÉCTRICOS DE POTENCIA</option>
                <option value="AUTOMATIZACIÓN Y CONTROL">AUTOMATIZACIÓN Y CONTROL</option>
            </select>

            <select id="lineaInvElectronica" style="display: none;" name="proy[lineaInv]" class="custom-select" disabled>
                <option value="<%=proy.lineaInv%>">
                    <%=proy.lineaInv%>
                </option>
                <option value="-">-</option>
                <option value="LineaInvestigacionElectronica">LineaInvestigacionElectronica</option>
            </select>
    </div>
    </div>
    <% } %>

        <label for="proy[cantIntegrantes]">Cantidad de Integrantes en el proyecto</label>
        <div class="form-row">
            <div class="col-md-2">
                <select id="integrantes" name="proy[cantIntegrantes]" class="custom-select" value="<%=proy.cantIntegrantes%>" onChange="mostrar(this.value);" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>

        <div id="estud1" class="form-row">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud1" name="proy[nombreEstudiante1]" type="text" value="<%=proy.nombreEstudiante1%>" class="form-control" required>
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud1" name="proy[notaEstudiante1]" class="custom-select" id="nota">
                    <option value="<%=proy.notaEstudiante1%>">
                        <%=proy.notaEstudiante1%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>

        <div id="estud2" class="form-row" style="display: none;">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud2" name="proy[nombreEstudiante2]" value="<%=proy.nombreEstudiante2%>" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud2" name="proy[notaEstudiante2]" class="custom-select" id="nota">
                    <option value="<%=proy.notaEstudiante2%>">
                        <%=proy.notaEstudiante2%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
        <div id="estud3" class="form-row" style="display: none;">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud3" name="proy[nombreEstudiante3]" value="<%=proy.nombreEstudiante3%>" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud3" name="proy[notaEstudiante3]" class="custom-select" id="nota">
                    <option value="<%=proy.notaEstudiante3%>">
                        <%=proy.notaEstudiante3%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>
        <div id="estud4" class="form-row" style="display: none;">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud4" name="proy[nombreEstudiante4]" value="<%=proy.nombreEstudiante4%>" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud4" name="proy[notaEstudiante4]" class="custom-select" id="nota">
                    <option value="<%=proy.notaEstudiante4%>">
                        <%=proy.notaEstudiante4%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>

        <div id="estud5" class="form-row" style="display: none;">
            <div class="col-md-4">
                <label>Nombre y Apellido</label>
                <input id="estud5" name="proy[nombreEstudiante5]" value="<%=proy.nombreEstudiante5%>" type="text" class="form-control">
            </div>
            <div class="col-md-2">
                <label>Nota asignada</label>
                <select id="estud5" name="proy[notaEstudiante5]" class="custom-select" id="nota">
                    <option value="<%=proy.notaEstudiante5%>">
                        <%=proy.notaEstudiante5%>
                    </option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                </select>
            </div>
        </div>

        <div class="form-group mt-2">
            <small>Ingrese un resumen del proyecto</small>
            <textarea name="proy[resumenProyecto]" class="form-control" rows="3" placeholder="Resumen del proyecto">
                <%=proy.resumenProyecto%>
            </textarea>
        </div>

        <div style="float: right;">
            <button type="submit" class="btn btn-warning">Completado</button>
        </div>
        </form>
        </div>
        </div>
<% include ./partials/footer %>