<% include ./partials/header %>
    <div class="container pt-5 mt-4">
   
       
           <% if(success && success.length > 0){ %>
         <div class="alert alert-success" role="alert">
         <%= success %>
         </div>
   <% } %>
   <a class="btn btn-dark " href="/indexsimple">Vista Simple</a></div>
    <div class="container mt-3 ">

   
   
    <div class="jumbotron text-uppercase">
        <div class="text-center">
            <h3><%=proy.tituloProyecto%></h3>
        </div>
        <div class="form-row mb-2 mt-4">
            <div class="col-md-6">
                <div class="col">
                    <small class="text-secondary">P.N.F:</small>
                    <h5><%=proy.pnf%></h5>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="col-md-6">
                    <small class="text-secondary">Comunidad:</small>
                    <h6><%=proy.comunidad%></h6>
                </div>
                <div class="col-md-6">
                    <small class="text-secondary">Municipio:</small>
                    <h6><%=proy.municipio%></h6>
                </div>
                <div class="col-md-6">
                    <small class="text-secondary">Linea de Investigacion:</small>
                    <h6><%=proy.lineaInv%></h6>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="col-md-6 float-right">
                    <small class="text-secondary">Trayecto:</small>
                    <h6><%=proy.trayecto%></h6>
                </div>
                <div class="col-md-8 float-right">
                    <small class="text-secondary">Seccion:</small>
                    <h6><%=proy.seccion%></h6>
                </div>
                <div class="col-md-6 float-right">
                    <small class="text-secondary">Lapso Academico:</small>
                    <h6><%=proy.lapsoAcademico%></h6>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-6">
                <div class="col">
                    <small class="text-secondary">Status del Proyecto:</small>
                    <h6><%=proy.statusProyecto%></h6>
                </div>
            </div>
        </div>
        <br/>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
        <br/>

        <div class="form-row">
            <div class="col-md-3">
                <div class="col">
                    <small class="text-secondary">Autores:</small>
                    <h6><%=proy.nombreEstudiante1%></h6>
                    <h6><%=proy.nombreEstudiante2%></h6>
                    <h6><%=proy.nombreEstudiante3%></h6>
                    <h6><%=proy.nombreEstudiante4%></h6>
                    <h6><%=proy.nombreEstudiante5%></h6>
                </div>
            </div>
            <div class="col-md-3">
                <div class="col">
                    <small class="text-secondary">C.I:</small>
                    <h6><%=proy.cedulaEstudiante1%></h6>
                    <h6><%=proy.cedulaEstudiante2%></h6>
                    <h6><%=proy.cedulaEstudiante3%></h6>
                    <h6><%=proy.cedulaEstudiante4%></h6>
                    <h6><%=proy.cedulaEstudiante5%></h6>
                </div>
            </div>
            <div class="col-md-1">
                <div class="col">
                    <small class="text-secondary">Calificacion:</small>
                    <h6><%=proy.notaEstudiante1%></h6>
                    <h6><%=proy.notaEstudiante2%></h6>
                    <h6><%=proy.notaEstudiante3%></h6>
                    <h6><%=proy.notaEstudiante4%></h6>
                    <h6><%=proy.notaEstudiante5%></h6>
                </div>
            </div>
            <div class="col-md-5 text-right">
                <div class="col float-right">
                    <small class="text-secondary">Profesor Tutor:</small>
                    <h6><%=proy.profTutor%></h6>
                </div>
                <div class="col float-right">
                    <small class="text-secondary">Profesor Guia:</small>
                    <h6><%=proy.profGuia%></h6>
                </div>
            </div>
        </div>
        <br>
        <hr class="accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
        <br>

        <div class="form-row mt-2">
            <div class="col">
                <div class="col">
                    <small class="text-secondary">Resumen:</small>

                    <h6><%=proy.resumenProyecto%></h6>
                </div>
            </div>
        </div>

        <div style="float: right;" class="form-row mb-4 mt-3">
            <div class="col">
                <a class="btn btn-secondary" href="/index/<%=proy._id%>/edit">Editar</a>
            </div>
            <div class="col">
                <form action="/index/<%=proy._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">ELIMINAR</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>